@media (max-width: 1300px) {
	
}

@media (min-width: 1200px) {
	.container {
		width: 970px;
	}
}

@media (max-width: 1090px) {

}

@media (max-width: 1024px) {
	
}

@media (max-width: 991px) {
	
}
@media (max-width: 812px) and (max-height: 400px) { /*iPhone MAX and the likes landscape*/
	
}
@media (max-width: 767px) {
	
}
@media (max-width: 736px) {
	
}

@media (max-width: 480px) {
	.navbar-brand {
		padding: 15px 10px;
	}
	.nav>li {
		display: inline-block;
	}
	.nav>li>a {
		padding: 10px 15px !important;
	}
	.container.padding-zero-sm, .padding-zero-sm {
		padding-left: 0;
		padding-right: 0;
	}
	.division-inner {
		border-radius: 0;
	}
	p {
		font-size: 1.2rem;
	}
}